<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          서울 서초구 서초대로74길23 서초타운트라팰리스 806호 (우.06621)<br>
          대한감염학회 현장 사무국 TEL : 02-411-7952, 02-411-7953<br>
          E-mail : <a href="mailto:ksinfect@ksid.or.kr">ksinfect@ksid.or.kr</a><br>
          Copyright (c) 2003 by The Korean Society of Infectious Diseases All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
