article {
  margin: 0 auto;
}

.title-wrapper {
  &.border-none {
    border: none;
    text-align: center;
  }
}

h3 {
  display: inline-block;
  padding: 16px 64px;
  font-size: 20px;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

 .sponsors-banner {
		margin-bottom: 40px;
		text-align: center;

		h3 {
			display: inline-block;
			padding: 14px 62px;
			border-radius: 27px;
			-webkit-border-radius: 27px;
			-moz-border-radius: 27px;
			-ms-border-radius: 27px;
			-o-border-radius: 27px;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

		}
	}

.list-wrapper {

  .list-item {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

  }
}

.list-wrapper {

  .list-item {
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

@media (max-width: 1025px) {
  .content-body {
    .list-wrapper {
      padding: 0;

      .list-item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
}

@media (max-width: 768px) {

  .content-body {

    .list-wrapper {
      padding: 0;

      .list-item {
        flex: 0 0 33.33%;
        max-width:33.3%
      }
    }
  }
}

@media (max-width: 575px) {

  .content-body {

    .list-wrapper {

      .list-item {
        flex: 0 0 50%;
        max-width: 50%
      }
    }
  }
}



