<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime }}
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.11.04 (Thu)</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021.11.05 (Fri)</a></div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:45%">
        <col style="width:45%">
      </colgroup>
      <thead>
        <tr>
          <th class="time top-time">
            Time
          </th>
          <th #th1 class="channel-1">
            Channel 1 <span class="text-warning">(Live)</span>
            <div class="channel-btn" [ngStyle]="channelBtnStyle1">
            </div>
          </th>
          <th #th2 class="channel-2">
            Channel 2 <span class="text-warning">(Live)</span>
            <div class="channel-btn" [ngStyle]="channelBtnStyle1"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">08:00~08:50</td>
          <td colspan="2" class="bg_pink" (click)="getSessionDetail('616e2916818fee001296acfa')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Meet-the-Professor: How to treat/answer</b>
              </div>
              <div class="align-right">
                <b>In-Gyu Bae</b> (Gyeong-Sang National University College of Medicine),<br><b>Hyo Youl Kim</b> (Yonsei
                University Wonju
                College of Medicine)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">08:50~09:00</td>
          <td colspan="2" (click)="getSessionDetail('616e2b04818fee001296ad05')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Opening Remarks</b>
              </div>
              <div class="align-right">
                <b>Kyong Ran Peck</b> (Chairperson of the Korean Society of Infectious Diseases)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">09:00~11:00</td>
          <td colspan="2" class="bg_orange" (click)="getSessionDetail('616e2cea818fee001296ad11')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Symposium 1: Mini-lectures and Oral Presentations</b>
              </div>
              <div class="align-right">
                <b>Yang Soo Kim</b> (University of Ulsan College of Medicine),<br><b>Jung-Hyun Choi</b> (The Catholic
                University
                of Korea College of Medicine)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">11:00~11:10</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">11:10~12:00</td>
          <td colspan="2" class="bg_purple" (click)="getSessionDetail('616e2d1c818fee001296ad12')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Plenary Lecture I</b>
              </div>
              <div class="align-right">
                <b>Min Ja Kim</b> (Korea University College of Medicine)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">12:00~12:40</td>
          <td colspan="2" class="bg_assembly" (click)="getSessionDetail('616e2d64818fee001296ad14')">
            <div class="align-left">
              <b>KSID General Assembly</b>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">12:40~13:30</td>
          <td class="bg_sky" (click)="getSessionDetail('616e2e18818fee001296ad19')">
            <div class="align-left">
              <b>Satellite Symposium I: MSD</b>
            </div>
            <div class="align-right">
              <b>Yeon-Sook Kim</b> (Chungnam National University School of Medicine)
            </div>
          </td>
          <td class="bg_sky" (click)="getSessionDetail('616e3244818fee001296ad32')">
            <div class="align-left">
              <b>Satellite Symposium II: GSK</b>
            </div>
            <div class="align-right">
              <b>HeeJin Cheong</b> (Korea University College of Medicine)
            </div>
          </td>
        </tr>


        <tr>
          <td class="time">13:30~13:40</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">13:40~14:40</td>
          <td class="bg_yellow" (click)="getSessionDetail('616e2e80818fee001296ad1c')">
            <div class="align-left">
              <b>Oral Session II: Bacterial Infection & Antimicrobial Resistance</b>
            </div>
            <div class="align-right">
              <b>Yang Ree Kim</b> (The Catholic University of Korea College of Medicine)<br>
              <b>Shin Woo Kim</b> (Kyungpook National University School of Medicine)
            </div>
          </td>
          <td class="bg_poster">
            <div class="align-left">
              <b>E-Poster & Mini-presentation</b>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">14:40~14:50</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">14:50~15:50</td>
          <td class="bg_yellow" (click)="getSessionDetail('616e2f24818fee001296ad1f')">
            <div class="align-left">
              <b>Oral Session III: COVID-19</b>
            </div>
            <div class="align-right">
              <b>Sang Il Kim</b> (The Catholic University of Korea College of Medicine)<br>
              <b>Sun-Hee Lee</b> (Pusan National University College of Medicine)
            </div>
          </td>

          <td class="bg_poster">
            <div class="align-left">
              <b>E-Poster & Mini-presentation</b>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">15:50~16:00</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">16:00~17:30</td>
          <td colspan="2" class="bg_red" (click)="getSessionDetail('616e2f77818fee001296ad21')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>KSID’s 60th Anniversary Symposium - Pandemic Response: Past, Present, and Future</b>
              </div>
              <div class="align-right">
                <b>Kyong Ran Peck</b> (Sungkyunkwan University School of Medicine)
              </div>
            </div>
          </td>
        </tr>
    </table>

    <!-- ! -------------------------------DAY2------------------------------- -->

    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:10%">
        <col style="width:45%">
        <col style="width:45%">
      </colgroup>
      <thead>
        <tr>
          <th class="time top-time">
            Time
          </th>
          <th #th1 class="channel-1">
            Channel 1 <span class="text-warning">(Live)</span>
            <div class="channel-btn" [ngStyle]="channelBtnStyle1">
            </div>
          </th>
          <th #th2 class="channel-2">
            Channel 2 <span class="text-warning">(Live)</span>
            <div class="channel-btn" [ngStyle]="channelBtnStyle1"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">07:30~08:20</td>
          <td colspan="2" class="bg_pink" (click)="getSessionDetail('616f7b93818fee001296ae01')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Pre-meeting Workshop: How to Research</b>
              </div>
              <div class="align-right">
                <b>Hee Jung Choi</b> (Ewha Womans University School of Medicine),<br>
                <b>Doo Ryeon Chung</b> (Sungkyunkwan University School of Medicine)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">08:20~08:30</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">08:30~09:20</td>
          <td class="bg_sky align-left" (click)="getSessionDetail('616f7e54818fee001296ae07')">
            <b>Satellite Symposium III: bioMérieux</b>
          </td>
          <td class="bg_sky align-right" (click)="getSessionDetail('616f7e54818fee001296ae07')">
            <b>Dae Won Park</b> (Korea University College of Medicine)
          </td>
        </tr>

        <tr>
          <td class="time">09:20~09:30</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">09:30~11:00</td>
          <td class="bg_orange" (click)="getSessionDetail('616f7e94818fee001296ae0a')">
            <div class="align-left">
              <b>Symposium 2: What’s new Knowledge about COVID-19</b>
            </div>
            <div class="align-right">
              <b>Yang Soo Kim</b> (University of Ulsan College of Medicine),<br><b>Jung-Hyun Choi</b> (The Catholic
              University
              of Korea College of Medicine)
            </div>
          </td>
          <td class="bg_orange" (click)="getSessionDetail('616f8c88818fee001296ae3b')">
            <div class="align-left">
              <b>Symposium 5: Impact of COVID-19 on Healthcare Settings</b>
            </div>
            <div class="align-right">
              <b>Sungmin Kiem</b> (Chungnam National University School of Medicine),<br><b>Hee Jin Cheong</b> (Korea
              University College of Medicine)
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">11:00~11:20</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">11:20~12:10</td>
          <td colspan="2" class="bg_purple" (click)="getSessionDetail('616f7ed2818fee001296ae0d')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Plenary Lecture II</b>
              </div>
              <div class="align-right">
                <b>Jun Hee Woo</b> (Eulji University College of Medicine)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">12:10~12:30</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">12:30~13:20</td>
          <td class="bg_sky" (click)="getSessionDetail('616f7f11818fee001296ae10')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Satellite Symposium IV: Pfizer</b>
              </div>
              <div class="align-right">
                <b>Jun Hee Woo</b> (Eulji University College of Medicine)
              </div>
            </div>
          </td>
          <td class="bg_sky" (click)="getSessionDetail('616f8ba3818fee001296ae34')">
            <div class="d-flex justify-content-between">
              <div class="align-left">
                <b>Satellite Symposium V: Gilead</b>
              </div>
              <div class="align-right">
                <b>Sun Hee Lee</b> (Pusan National University School of Medicine)
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">13:20~13:30</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">13:30~14:30</td>
          <td class="bg_yellow" (click)="getSessionDetail('616f8063818fee001296ae1b')">
            <div class="align-left">
              <b>Oral Session IV: Other than Bacterial Infection & COVID-19</b>
            </div>
            <div class="align-right">
              <b>Heung Jeong Woo</b> (Hallym University College of Medicine)<br>
              <b>Jang Wook Sohn</b> (Korea University College of Medicine)
            </div>
          </td>

          <td class="bg_poster">
            <div class="align-left">
              <b>E-Poster & Mini-presentation</b>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">14:30~14:40</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">14:40~15:40</td>
          <td class="bg_yellow" (click)="getSessionDetail('616f8451818fee001296ae23')">
            <div class="align-left">
              <b>Oral Session V: Infection Control & Clinical Microbiology</b>
            </div>
            <div class="align-right">
              <b>Yong Kyun Cho</b> (Gacheon University Medical College)<br>
              <b>Mi-Na Kim</b> (University of Ulsan College of Medicine)
            </div>
          </td>

          <td class="bg_poster">
            <div class="align-left">
              <b>E-Poster & Mini-presentation</b>
            </div>
          </td>
        </tr>

        <tr>
          <td class="time">15:40~16:00</td>
          <td colspan="2">
            <b>Break</b>
          </td>
        </tr>

        <tr>
          <td class="time">16:00~17:30</td>
          <td class="bg_yellow" (click)="getSessionDetail('616f89da818fee001296ae29')">
            <div class="align-left">
              <b>Symposium 4: What’s New Issues on Clinical Practice</b>
            </div>
            <div class="align-right">
              <b>Jin-Hong Yoo</b> (The Catholic University of Korea College of Medicine)<br>
              <b>Hyunjoo Pai</b> (Hanyang University College of Medicine)
            </div>
          </td>

          <td class="bg_yellow" (click)="getSessionDetail('616f8c88818fee001296ae3b')">
            <div class="align-left">
              <b>Symposium 5: Impact of COVID-19 on Healthcare Settings</b>
            </div>
            <div class="align-right">
              <b>Sungmin Kiem</b> (Chungnam National University School of Medicine)<br>
              <b>Hee Jin Cheong</b> (Korea University College of Medicine)
            </div>
          </td>
        </tr>


        <tr>
          <td class="time">17:30~18:00</td>
          <td colspan="2">
            <b>Awards Ceremony/Closing Remarks</b>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>



<button #sessionDetailBtn class="session-detail-btn" data-toggle="modal" data-target="#sessionDetailModal">
  session detail modal open
</button>

<!-- ! 세션 상세 모달 -->
<div class="modal session-detail fade" id="sessionDetailModal" data-backdrop="static" role="dialog"
  aria-labelledby="sessionDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description" *ngIf="selectedAgenda">
          <div class="modal-description-header">
            Session Detail
            <button type="button" class="ml-2 mb-1 close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-description-body" (click)="goLiveV2(selectedAgenda.dateId,selectedAgenda.roomId)">
            <div class="session-info">
              <div class="lt">
                <div class="session-title">
                  <b>{{selectedAgenda.subTitle}}</b>
                </div>
              </div>
              <div class="rt">
                <div class="session-speaker-list">
                  Chairperson:
                  <div class="session-speaker" *ngFor="let speaker of selectedAgenda.speakers">
                    <div class="speaker-name">{{speaker.fullName}}</div>
                    <div class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-list" *ngIf="selectedSubList">
              <div *ngFor="let agenda of selectedSubList" class="sub-list-item">
                <div class="sub-agenda-time-wrapper">
                  <div class="sub-agenda-time text-center">
                    {{agenda.startTime}}-{{agenda.endTime}}
                  </div>
                </div>
                <div class="sub-agenda-title-wrapper">
                  <div class="sub-agenda-title" [innerHTML]="agenda.title"></div>
                </div>
                <div class="sub-agenda-speakers-wrapper">
                  <div class="sub-agenda-speakers-container">
                    <div class="sub-agenda-speakers" *ngFor="let speaker of agenda.speakers">
                      <div class="sub-agenda-speaker-name">{{speaker.fullName}}</div>
                      <div class="sub-agenda-speaker-company">{{speaker.company}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
