<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="live">Posters</h2>
      </div>
      <div class="poster-detail-wrapper">
        <div class="poster-detail-title">
          <p>{{ selectedPoster.category?.categoryName }}</p>
          <h3 [innerHTML]="selectedPoster.title"></h3>
        </div>
        <div class="poster-detail-content">
          <div class="poster-content-body" [ngClass]="{'isVideo': !slide}">
            <div class="iframe-wrapper">
              <p [innerHTML]="selectedPoster.description | safeHtml"></p>
            </div>
            <div class="pdf-wrapper" *ngIf="slide">
              <pdf-viewer #pdfViewer *ngIf="slide" [src]="slide.url" [(page)]="slideCurrentPage" [show-all]="false"
                [original-size]="false" [render-text]="false" [autoresize]="true" [zoom]="0.6"
                (after-load-complete)="loadedSlide($event)" style="display: block;">
              </pdf-viewer>
              <div class="slider-button-wrapper">
                <div class="prev-btn-wrapper">
                  <button (click)="setSlide(-1)">
                    <img src="assets/img/bt_previouspage.png">
                  </button>
                </div>
                <div class="pager-wrapper">
                  <!-- {{slideCurrentPage}}/{{slideTotalPage}} -->
                </div>
                <div class="next-btn-wrapper">
                  <button (click)="setSlide(1)">
                    <img src="assets/img/bt_nextpage.png">
                  </button>
                </div>
              </div>
            </div>
            <div class="iframe-wrapper" *ngIf="!slide && selectedPoster.contents && videoUrl">
              <iframe [src]="videoUrl"></iframe>
            </div>
          </div>
          <div class="poster-content-footer">
            <div class="poster-info">
              <h4>
                Author
              </h4>
              <p [innerHtml]="selectedPoster.author">
              </p>
            </div>
            <div class="poster-info">
              <h4>
                Affiliation
              </h4>
              <p class="" [innerHtml]="selectedPoster.company">
              </p>
            </div>
            <!-- <div class="poster-info" *ngIf="selectedPoster.contents">
              <h4>View</h4>
              <p>
                <a class="download" href="{{ selectedPoster.contents?.contentUrl }}" target="_blank">
                  <img class="view-icon" src="../../../../assets/icons/play.svg">
                  <span class="ellipsis">{{ selectedPoster.contents?.title }}</span>
                </a>
              </p>
              target="_blank">{{ selectedPoster.contents?.contentUrl }}</a> ]</p>
            </div> -->
            <div class="poster-info" *ngIf="selectedPoster.country">
              <h4>Country</h4>
              <p [innerHTML]="selectedPoster.country">
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ! 댓글 -->
      <div class="poster-detail-comments-wrapper" *ngIf="selectedPoster.comments">
        댓글 {{ selectedPoster.comments.count }}
        <!-- ! 새 댓글 -->
        <div class="new-input-wrapper">
          <textarea class="new-input" type="text" placeholder="댓글을 남겨주세요." [(ngModel)]="newInput"
            style="min-height: 54px;" autosize>
      </textarea>
          <button class="btn bg-main-blue" (click)="createComment()">등록</button>
        </div>
        <div *ngIf="!selectedPoster.comments.commentList.length; else commentList">
          <!-- 댓글이 없습니다. -->
        </div>
        <ng-template #commentList>
          <hr class="comment-headline">
          <ng-container *ngFor="let comment of selectedPoster.comments.commentList">
            <!-- 부모 댓글 List -->
            <div class="comment-wrapper">
              <div class="comment-header">
                <div class="comment-name" [ngClass]="{'my-comment': comment.memberId === user.id}">
                  {{comment.memberName}}
                </div>

                <div class="dropdown" *ngIf="!isModify('pInput_'+comment.id) && user && user.id === comment.memberId">
                  <button class="dropdown_button" type="button" [id]="'pDrop_'+comment.id" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                      <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    </svg>
                  </button>
                  <div class="dropdown-menu" [attr.aria-label]="'pDrop_'+comment.id">
                    <button class="dropdown-item" type="button" (click)="modify('pInput_'+comment.id)">수정</button>
                    <button class="dropdown-item" type="button" *ngIf="!comment.children.length"
                      (click)="remove(comment.id)">삭제</button>
                  </div>
                </div>

                <div *ngIf="isModify('pInput_'+comment.id)" class="cancel-save">
                  <div (click)="cancel()">취소</div>
                  <div class="cancel-save-division">|</div>
                  <div (click)="update(comment.id, 'parent')">저장</div>
                </div>
              </div>

              <!-- ! 작성된 댓글 -->
              <div class="comment-body">
                <textarea class="parent-textarea" [value]="comment.description" [disabled]="true"
                  [id]="'pInput_'+comment.id" autosize></textarea>
              </div>

              <div class="comment-date">
                {{comment.createdAt | date: "yyyy.MM.dd HH:mm" }}
              </div>
              <div *ngIf="comment.level === 0" class="open-reply-wrapper">
                <button (click)="openReply(comment.id)">답글</button>
              </div>
            </div>

            <!-- ! 새 답글 -->
            <div class="comment-wrapper cInputs-wrapper" [id]="'cInput_wrapper_'+comment.id">
              <textarea type="text" value="" [id]="'cInput_'+comment.id" autosize rows="1"></textarea>
              <button (click)="cancel()" class="btn-danger">취소</button>
              <button (click)="createComment(comment.id)">등록</button>
            </div>

            <!-- ! 답글 리스트 -->
            <ng-container *ngFor="let child of comment.children">
              <div class="comment-wrapper child-wrapper">
                <span class="child-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                    class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                  </svg>
                </span>
                <div class="comment-header">
                  <div class="comment-name" [ngClass]="{'my-comment': child.memberId === user.id}">
                    {{child.memberName}}
                  </div>

                  <div class="dropdown" *ngIf="!isModify('cInput_'+child.id) && user && user.id === child.memberId">
                    <button class="dropdown_button" type="button" [id]="'cDrop_'+child.id" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path
                          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                      </svg>
                    </button>
                    <div class="dropdown-menu" [attr.aria-label]="'cDrop_'+child.id">
                      <button class="dropdown-item" type="button" (click)="modify('cInput_'+child.id)">수정</button>
                      <button class="dropdown-item" type="button" (click)="remove(child.id)">삭제</button>
                    </div>
                  </div>

                  <div *ngIf="isModify('cInput_'+child.id)" class="cancel-save">
                    <div (click)="cancel()">
                      취소
                    </div>
                    <div class="cancel-save-division">|</div>
                    <div (click)="update(child.id, 'child')">
                      저장
                    </div>
                  </div>
                </div>
                <!-- ! 작성된 답글 -->
                <div class="comment-body">
                  <textarea class="child-textarea" [value]="child.description" [disabled]="true"
                    [id]="'cInput_'+child.id" autosize>
              </textarea>
                </div>
                <div class="comment-date">
                  {{child.createdAt | date: "yyyy.MM.dd HH:mm" }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </div>

      <div class="back-to-list">
        <a [routerLink]="'/posters'">
          <button>BACK TO LIST</button>
        </a>
      </div>
    </div>
  </div>
</div>
