<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Organization</h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <style type="text/css">
          .tg {
            border-collapse: collapse;
            border-spacing: 0;
          }

          .tg td {
            border-color: white;
            border-style: solid;
            border-width: 3pt 1pt 1pt;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          }

          .tg th {
            border-color: white;
            border-style: solid;
            border-width: 3pt 1pt 1pt;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          }

          .tg .tg-groz {
            color: #2473c5;
            text-align: left;
            vertical-align: top
          }

          .tg .tg-h5br {
            background-color: #FFF;
            color: white;
            text-align: left;
            vertical-align: middle
          }

          .tg .tg-0lax {
            text-align: left;
            vertical-align: top
          }

          .tg .tg-i3hz {
            background-color: #FBFDFD;
            color: #2473C5;
            font-weight: bold;
            text-align: left;
            vertical-align: middle
          }

          .cad {
            background-color: #cad9ec !important;
          }

          .e6e {
            background-color: #e6edf5 !important;
          }

          .cad,
          .e6e {
            text-align: center !important;
          }

        </style>
        <h3>Organizing Committee</h3><br>
        <table class="tg" style="width:100%;">
          <colgroup>
            <col style="width:30%">
            <col style="width:15%">
            <col style="width:55%">
          </colgroup>
          <thead>
            <tr>
              <th class="cad tg-groz"><span style="font-weight:bold">Congress President</span></th>
              <th class="cad tg-0lax" style="color:#555;">YOON, Joo Heon</th>
              <th class="cad tg-h5br" style="color:#555;"><span>Yonsei University College of Medicine, Yonsei University
                  Severance Hospital</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="e6e tg-groz"><span style="font-weight:bold">Chairman, Board of Directors, KORL-HNS</span></td>
              <td class="e6e tg-0lax" style="color:#555;">CHO, Yang-Sun</td>
              <td class="e6e tg-0lax" style="color:#555;">Sungkyunkwan University School of Medicine, Samsung Medical
                Center</td>
            </tr>
            <tr>
              <td class="cad tg-groz"><span style="font-weight:700;font-style:normal">General Secretary</span></td>
              <td class="cad tg-h5br"><span>JUNG, Jae Yun</span></td>
              <td class="cad tg-h5br"><span>College of Medicine, Dankook University, Dankook
                  University
                  Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Treasure Committee</span></td>
              <td class="e6e tg-h5br"><span>LEE, Jin Choon</span></td>
              <td class="e6e tg-h5br"><span>Pusan National University School of Medicine, Pusan
                  National
                  University Yangsan Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Public
                  Relations, International</span></td>
              <td class="cad tg-0lax"></td>
              <td class="cad tg-0lax"></td>
            </tr>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Public
                  Relations, Domestic</span></td>
              <td class="e6e tg-h5br"><span>KIM, Hyo Yeol</span></td>
              <td class="e6e tg-h5br"><span>Sungkyunkwan University School of Medicine, Samsung
                  Medical
                  Center</span></td>
            </tr>
            <tr>
              <td class="cad tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Scientific Committee</span></td>
              <td class="cad tg-h5br"><span>KIM, Dong-Young</span></td>
              <td class="cad tg-h5br"><span>Seoul National University College of Medicine, Seoul
                  National
                  University Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director, Social
                  Program</span></td>
              <td class="e6e tg-h5br"><span></span></td>
              <td class="e6e tg-h5br"><span></span></td>
            </tr>
          </tbody>
        </table>
        <br><br>

        <style type="text/css">
          .tg {
            border-collapse: collapse;
            border-spacing: 0;
          }

          .tg td {
            border-color: white;
            border-style: solid;
            border-width: 3pt 1pt 1pt;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          }

          .tg th {
            border-color: white;
            border-style: solid;
            border-width: 3pt 1pt 1pt;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          }

          .tg .tg-h5br {
            background-color: #FFF;
            color: #555;
            text-align: left;
            vertical-align: middle
          }

          .tg .tg-i3hz {
            background-color: #FBFDFD;
            color: #2473C5;
            font-weight: bold;
            text-align: left;
            vertical-align: middle
          }

        </style>
        <h3>Scientific Committee</h3><br>
        <table class="tg" style="width:100%;">
          <colgroup>
            <col style="width:30%">
            <col style="width:15%">
            <col style="width:55%">
          </colgroup>
          <thead>
            <tr>
              <th class="cad tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Scientific Committee</span></th>
              <th class="cad tg-h5br"><span style="color:#555">KIM, Dong-Young</span></th>
              <th class="cad tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  Univerity Hospital</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Vice
                  Director</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">SONG, Jae-Jin</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  University Bundang Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-i3hz" rowspan="20"><span style="font-weight:bold;color:#2473C5;">Scientific Committee
                  Members</span>
              </td>
              <td class="cad tg-h5br"><span style="color:#555">KANG, Woo Seok</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Ulsan University School of Medicine, Asan Medical
                  Center</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">KWON, Seong Keun</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  Univerity Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">KIM, Sung Huhn</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Yonsei University College of Medicine, Yonsei University
                  Severance Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">KIM, Soo Whan</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">College of Medicine,The Caholic University of Korea Seoul
                  ST.
                  Mary's Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">KIM, Chul-Ho</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Ajou University School of Medicine, Ajou University
                  Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">KIM, Hyun Jik</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  Univerity Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">BYUN, Jae Yong</span></td>
              <td class="cad tg-h5br"><span style="color:#555">School of Medicine, Kyung Hee University, Kyung Hee
                  University Hospital at Gangdong</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">AHN, Joong Ho</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Ulsan University School of Medicine, Asan Medical
                  Center</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">LEE, Kyu-Yup</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Kyungpook National University School of Medicine,
                  Kyungpook
                  National University Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">LEE, Sang Hyuk</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Sungkyunkwan University School of Medicine, Kangbuk
                  Samsung
                  Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">JEONG, Woo-Jin</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  University Bundang Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">JUNG, Young Ho</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  Univerity Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">CHO, Kyu-Sup</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Pusan National University School of Medicine, Pusan
                  National
                  University Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">CHO, Seok Hyun</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Hanyang University College of Medicine, Hanyang
                  University
                  Seoul Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">CHO, Jae Hoon</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Konkuk University School of Medicine, Konkuk University
                  Medical Center</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">CHO, Hyung-Ju</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Yonsei University College of Medicine,Yonsei University
                  Severance Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">JOO, Young Hoon</span></td>
              <td class="cad tg-h5br"><span style="color:#555">College of Medicine,The Catholic University of Korea,
                  Bucheon
                  St. Mary's Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">CHUN, Byung-Joon</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">THANQ Seoul Thyroid Head and Neck Surgery Center</span>
              </td>
            </tr>
            <tr>
              <td class="cad tg-h5br"><span style="color:#555">CHOI, Byung Yoon</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  University Bundang Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-h5br"><span style="color:#555">Won, Tae-Bin</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  University Bundang Hospital</span></td>
            </tr>
          </tbody>
        </table>
        <br><br>
        <style type="text/css">
          .tg {
            border-collapse: collapse;
            border-spacing: 0;
          }

          .tg td {
            border-color: white;
            border-style: solid;
            border-width: 3pt 1pt 1pt;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          }

          .tg th {
            border-color: white;
            border-style: solid;
            border-width: 3pt 1pt 1pt;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
          }

          .tg .tg-h5br {
            background-color: #FFF;
            color: #555;
            text-align: left;
            vertical-align: middle
          }

          .tg .tg-wytq {
            background-color: #FBFDFD;
            /* border-color: inherit; */
            color: #2473C5;
            font-weight: bold;
            text-align: left;
            vertical-align: middle
          }

          .tg .tg-auik {
            background-color: #FFF;
            /* border-color: inherit; */
            /* color: #555; */
            text-align: left;
            vertical-align: middle
          }

          .tg .tg-0pky {
            /* border-color: inherit; */
            text-align: left;
            vertical-align: top
          }

          .tg .tg-i3hz {
            background-color: #FBFDFD;
            color: #2473C5;
            font-weight: bold;
            text-align: left;
            vertical-align: middle
          }

        </style>

        <h3>The Board of Directors</h3><br>
        <table class="tg" style="width:100%;">
          <colgroup>
            <col style="width:30%">
            <col style="width:15%">
            <col style="width:55%">
          </colgroup>
          <thead>
            <tr>
              <th class="cad tg-wytq"><span style="font-weight:bold;color:#2473C5;">Chairman</span>
              </th>
              <th class="cad tg-auik"><span style="color:#555">CHO, Yang-Sun</span></th>
              <th class="cad tg-auik"><span style="color:#555">Sungkyunkwan University School of Medicine, Samsung
                  Medical
                  Center</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="e6e tg-wytq">Chairman Elected</td>
              <td class="e6e tg-auik"><span style="color:#555">KIM, Se-Heon</span></td>
              <td class="e6e tg-auik"><span style="color:#555">Yonsei University College of Medicine, Yonsei University
                  Severance Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-wytq" rowspan="2"><span style="font-weight:bold;color:#2473C5;">Vice
                  Chairman</span></td>
              <td class="cad tg-auik"><span style="color:#555">SOHN, Jin Ho</span></td>
              <td class="cad tg-auik"><span style="color:#555">Kyungpook National University School of Medicine,
                  Kyungpook
                  National University Chilgok Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-0pky" style="color:#555;">SONG, Byeong Ho</td>
              <td class="cad tg-0pky" style="color:#555;">Mirae ENT clinic</td>
            </tr>
            <tr>
              <td class="e6e tg-wytq"><span style="font-weight:bold;color:#2473C5;">General
                  Secretary</span></td>
              <td class="e6e tg-auik"><span style="color:#555">JUNG, Jae Yun</span></td>
              <td class="e6e tg-auik"><span style="color:#555">College of Medicine, Dankook University, Dankook
                  University
                  Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-wytq"><span style="font-weight:bold;color:#2473C5;">Director, Board
                  Exam Committee</span></td>
              <td class="cad tg-auik"><span style="color:#555">AHN, Soon-Hyun</span></td>
              <td class="cad tg-auik"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  Univerity Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-wytq"><span style="font-weight:bold;color:#2473C5;">Director,
                  Resident Training Committee</span></td>
              <td class="e6e tg-auik"><span style="color:#555">PARK, Shi Nae</span></td>
              <td class="e6e tg-auik"><span style="color:#555">College of Medicine, The Catholic University of Korea
                  Seoul
                  ST. Mary's Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-wytq"><span style="font-weight:bold;color:#2473C5;">Editor</span>
              </td>
              <td class="cad tg-auik"><span style="color:#555">CHUNG, Yoo Sam</span></td>
              <td class="cad tg-auik"><span style="color:#555">Ulsan University School of Medicine, Asan Medical
                  Center</span></td>
            </tr>
            <tr>
              <td class="e6e tg-wytq"><span style="font-weight:bold;color:#2473C5;">Director,
                  Scientific Committee</span></td>
              <td class="e6e tg-auik"><span style="color:#555">KIM, Dong-Young</span></td>
              <td class="e6e tg-auik"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  University Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-wytq"><span style="font-weight:bold;color:#2473C5;">Director,
                  Treasure Committee</span></td>
              <td class="cad tg-auik"><span style="color:#555">LEE, Jin Choon</span></td>
              <td class="cad tg-auik"><span style="color:#555">Pusan National University School of Medicine, Pusan
                  National
                  University Yangsan Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-wytq" rowspan="2"><span style="font-weight:bold;color:#2473C5;">Director, Medical
                  Insurance
                  Committee</span></td>
              <td class="e6e tg-auik"><span style="color:#555">LEE, Sei Young</span></td>
              <td class="e6e tg-auik"><span style="color:#555">College of Medicine and School of Medicine, Chung-ang
                  University Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-auik"><span style="color:#555">LEE, Dong Hee</span></td>
              <td class="e6e tg-auik"><span style="color:#555">College of Medicine, The Catholic University of Korea,
                  Uijeongbu ST. Mary's Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-wytq"><span style="font-weight:bold;color:#2473C5;">Director,
                  Medical Affairs Committee</span></td>
              <td class="cad tg-auik"><span style="color:#555">CHOI, Ji Yun</span></td>
              <td class="cad tg-auik"><span style="color:#555">College of Medicine and Medical School, Chosun
                  University,
                  Chosun University Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-wytq"><span style="font-weight:bold;color:#2473C5;">Director, Public
                  Relations</span></td>
              <td class="e6e tg-auik"><span style="color:#555">KIM, Hyo Yeol</span></td>
              <td class="e6e tg-auik"><span style="color:#555">Sungkyunkwan University School of Medicine, Samsung
                  Medical
                  Center</span></td>
            </tr>
            <tr>
              <td class="cad tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Planning Committee</span></td>
              <td class="cad tg-h5br"><span style="color:#555">KOO, Ja-Won</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Seoul National University College of Medicine, Seoul
                  National
                  University Bundang Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Medical Practitioner Committee</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">SHIN, Joong Wook</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Soree ear clinic</span></td>
            </tr>
            <tr>
              <td class="cad tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Legislation Committee</span></td>
              <td class="cad tg-h5br"><span style="color:#555">KIM, Yong Min</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Chungnam National University College of Medicine,
                  Chungnam
                  National University Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  Education&amp;Research Committee</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">BAEK, Seung-Kuk</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Korea University College of Medicine, Korea University
                  Anam
                  Hospital</span></td>
            </tr>
            <tr>
              <td class="cad tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director,
                  International Affairs</span></td>
              <td class="cad tg-h5br"><span style="color:#555">KOH, Yoon Woo</span></td>
              <td class="cad tg-h5br"><span style="color:#555">Yonsei University College of Medicine, Yonsei University
                  Severance Hospital</span></td>
            </tr>
            <tr>
              <td class="e6e tg-i3hz"><span style="font-weight:bold;color:#2473C5;">Director, Social
                  Responsibility</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">LEE, Jong Dae</span></td>
              <td class="e6e tg-h5br"><span style="color:#555">Soonchunhyang University College of Medicine,
                  Soonchunhyang
                  University Bucheon Hospital</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
</div>
