<div class="content-body">
  <app-banner></app-banner>
  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper" id="program-title">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <app-time-table></app-time-table>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>View more</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="e-booth">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0" *ngIf="boothCategories">
            <div class="booth-list" *ngFor="let category of boothCategories; let i = index">
              <div class="list-item" *ngFor="let booth of category.booths">
                <div class="e-booth-btn" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
                  <figure>
                    <img style="max-height:30px;" [src]="booth.photoUrl" alt="{{booth.name}}">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-wrapper">
            <a class="content-link view-more" [routerLink]="'/e-booth'">
              <span>View more</span>
              <i class="icon-more" aria-hidden="true"></i>
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p>
            2021.11.05 20:00 ~ 20:10<br>
          </p>
          <p>
            원활한 행사를 위해 시스템 점검중입니다.
          </p>
          <p>
            해당 시간에 접속이 원활하지 않을 수 있습니다.<br>
            이 점 양해 부탁드립니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
