<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <!-- <div class="top_btn" (click)="goTop()"></div> -->
  <div class="section1">
    <div class="between_line">
      <img src="../../../assets/img/e-booth/icic_banner.png">
      <img src="../../../assets/img/e-booth/icic_banner.png">
    </div>

    <div class="dia_line">
      <img src="../../../assets/img/e-booth/booth1.png" (click)="getDetail('61775e7c818fee001296b1a9')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="dia_line">
      <img src="../../../assets/img/e-booth/booth2.png" (click)="getDetail('61775e93818fee001296b1aa')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="dia_line">
      <img src="../../../assets/img/e-booth/booth3.png" (click)="getDetail('61775e9b818fee001296b1ab')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="dia_line">
      <img src="../../../assets/img/e-booth/booth4.png" (click)="getDetail('61775ea4818fee001296b1ac')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center">
      <img src="../../../assets/img/e-booth/booth5-1.png" (click)="getDetail('61776ed8818fee001296b1e9')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/booth5-2.png" (click)="getDetail('61776ed8818fee001296b1e9')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>

  <div class="section2">
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth6.png" (click)="getDetail('6177882a818fee001296b236')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth7.png" (click)="getDetail('617789fc818fee001296b241')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/booth8.png" (click)="getDetail('61778a3f818fee001296b242')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth9.png" (click)="getDetail('61778cf3818fee001296b24c')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/booth10.png" (click)="getDetail('61778ef3818fee001296b256')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth11.png" (click)="getDetail('61778f65818fee001296b25a')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/booth12.png" (click)="getDetail('61779089818fee001296b25d')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth13.png" (click)="getDetail('617791b7818fee001296b267')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/booth14.png" (click)="getDetail('6177931a818fee001296b26b')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center booth_line_margin">
      <img src="../../../assets/img/e-booth/booth15.png" (click)="getDetail('617795f8818fee001296b272')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/booth16.png" (click)="getDetail('617bae84dca81600124e2e64')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_blank" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>


<!-- ! 진입 시 최초 모달 버튼 -->
<button #initAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#initAlert">
  init modal open
</button>

<!-- ! 진입 시 최초 모달 -->
<div class="modal win-alert fade" id="initAlert" data-backdrop="static" role="dialog" aria-labelledby="initAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center init-modal-dialog" role="document">
    <div class="modal-content not-drag init-modal-content">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            <span style="font-size:24px;">E-Booth Tour​</span><br><br>
            Join the tour virtually experiencing exhibitions from leading medical<br>
            and pharmaceutical companies.<br>
            There will be stamps to collect as you tour the e-booths.<br>
            ICDM&AASD 2021 will give out gift cards to participants<br>
            Who have collected 5 stamps. (Login ONLY!)
          </p>
          <hr class="init-modal">
          <p class="mb-2 text-center">
            &#42; international Participants: Amazon Gift Card &#40;Online&#41; &#40;$30&#41;<br><br>
            &#42; Korean Participants: Starbucks Gift Card &#40;&#8361;30,000&#41;
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn init-modal-btn" data-toggle="modal"
          data-target="#initAlert">
          Go to E-booth Tour!
        </button>
        <div class="not-open-today">
          <button (click)="notOpenOneDay()" data-toggle="modal" data-target="#initAlert">
            Do not open for a day
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
